name: Compilation check
on: [push]
jobs:
  Check-if-compiles:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - uses: actions/setup-go@v3
      - name: Setup p8-platform
        run: |
          sudo apt-get update
          sudo apt-get install cmake build-essential
          git clone https://github.com/Pulse-Eight/platform.git
          mkdir platform/build
          cd platform/build
          cmake ..
          make -j4
          sudo make install
          sudo ldconfig

      - name: Setup libcec
        run: |
          sudo apt-get install libcec-dev
      - name: Check if it compiles
        run: |
          cd cmd
          go build -o main
